.icon{
    margin: 0;
    padding: 0;
    
    right: 1px;
    position: fixed;
    box-shadow: 2px 2px 5px;
    height: 100%;
    width: 6%;
    text-align: center;
    

    
    
}
.qi{
    color: blue;
    background: white;
    
 
}
.wi{
    color: black;
    background: white;


   
}
.ei{
    color: black;
    background: white;


}
.ri{
    color: black;
    background: white;


}
.ti{
    color: black;
    background: white;


}
.time{
    text-align: center;
    background: white;
    color: black;
    box-shadow: 2px 2px 5px;
    width: 120px;
    height: 50px;
    left: 45%;
    position: absolute;
    font-size: 18px;
    justify-content: center;
    
}
.photo1{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 12%;
    left: 5%;

    
}
.photo2{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 50%;
    left: 5%;
}
.photo3{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 12%;
    left: 60%;
}
.photo4{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 50%;
    left: 60%;
}
body{
    margin: 0;
    padding: 0;
}
.photo5{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 95%;
    left: 5%;

    
}
.photo6{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 1250px;
    left: 5%;
}
.photo7{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 95%;
    left: 60%;
}
.photo8{
    width: 320px;
    border: 1px black;
    background-color: blue;
    background-size:contain;
    background: url(download.jpg);
    height: 150px;
    position: absolute;
    top: 1250px;
    left: 60%;
}

