.bu{
    border: none;
    background-color: greenyellow;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    left: 130px;
}
#canvas{
	position: relative;
	left: 30%;
}